/* ------GENERAL--------- */

html {
  font-size: 62.5%;
  font-family: Chakra Petch;
}

body {
  font-size: 1.6rem;
  margin: 0;
  box-sizing: border-box;
  background: #5c8984;
}

.container {
  max-width: 85rem;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
}

h1 {
  color: #f2d8d8;
  font-size: 4.8rem;
}

h2 {
  margin: 0 0 1.6rem 0;
}

/* ------SEARCH--------- */

.search-container {
  display: flex;
}

.searchbar-results-container {
  flex: 1;
  position: relative;
}

.search-input {
  width: 100%;
  border-radius: 0.8em 0.8em 0 0;
  padding: 0.8em 1.6em;
  box-sizing: border-box;
}

.search-dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-sizing: border-box;
}

.search-results-list {
  list-style: none;
  line-height: 2.5;
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 16px;
}

.search-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.search-result-add-btn {
  background-color: #5c8984;
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
}

.clear-button {
  border-radius: 8px;
  padding: 8px 8px;
  cursor: pointer;
}


/* ------WATCHLIST--------- */

.watchlist-item-card {
  list-style: none;
  background: #f2d8d8;
  padding: 32px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  color: #5c8984;
  font-weight: bold;
  margin-bottom: 16px;
}

.chip {
  background-color: #5c8984;
  color: #f2d8d8;
  padding: 4px;
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 4px;
}

/* ------LOADING--------- */

.loading-indicator {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin: 16px 0;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: dimgray;
}

.dot-1 {
  animation: load 0.5s ease-in 0s infinite normal none;
}
.dot-2 {
  animation: load 0.5s ease-in 0.25s infinite normal none;
}
.dot-3 {
  animation: load 0.5s ease-in 0.5s infinite normal none;
}

@keyframes load {
  from {
  }

  to {
    background-color: transparent;
  }
}
